@import "_show/article__auth-message_show.css";

.article__auth-message{
  font-family: Roboto,Arial,sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  font-size: 0.5em;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  width: fit-content;
  padding: 7px 12px;
  margin-right: 5px;
  display: none;
}