
.search__error-message {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  color: #FF0000;
  display: none;
  width: 100%;
  top: 8px;
  left: 25px;
}