.card__link {
  color: #B6BCBF;
  text-decoration: none;
  line-height: 20px;
  font-family: Roboto Slab,Arial,sans-serif;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

