@import "__link/menu-burger__link.css";
@import "__container/menu-burger__container.css";
@import "__button/menu-burger__button.css";
@import "__background/menu-burger__background.css";

.menu-burger {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  display: none;
}

@media (max-width: 320px) {
  .menu-burger {
    display: block;
  }
}