@import "_black/header__row_black.css";{

}

.header__row {
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  font-style: normal;
  flex-direction: row;
  align-items: center;
  padding: 19px 104px 13px;

}

@media (max-width: 768px) {
  .header__row {
    padding: 14px 40px 12px;
  }
}

@media (max-width: 320px) {
  .header__row {
    padding: 16px;
    display: flex;
  }
}