.card__container {
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .card__container {
   top: 8px;
    left: 8px;
  }
}