.not-find__subtitle {
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625em;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 16px;
}